<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="014bc3fd-4686-490d-aad3-858f9948793e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-08T15:59:58" updateDate="2018-12-08T17:24:22" nodeName="machinetest.dev" urlName="machinetestdev" path="-1,1070" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <bannerDescription><![CDATA[<p>Another fine freebie by HTML5 UP</p>]]></bannerDescription>
    <bannerButtonText><![CDATA[Start]]></bannerButtonText>
    <bannerTitle><![CDATA[Helios]]></bannerTitle>
    <uploadBanner><![CDATA[umb://media/cf0ccca932044d2e8ded364858db3490]]></uploadBanner>
    <sliderDescription><![CDATA[<h2>Hi. You're looking at <strong>Helios</strong>.</h2>
<p>A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.<br />Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license.</p>]]></sliderDescription>
    <articleDescription><![CDATA[<h2><a href="#">Sed massa imperdiet magnis</a></h2>
<p>Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.</p>
<p>Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia natoque aenean scelerisque.</p>]]></articleDescription>
    <articleImage><![CDATA[umb://media/176a36213e00483eb0965dbeff86d4a6]]></articleImage>
  </home>
</root>