<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsListing ANY>
<!ATTLIST newsListing id ID #REQUIRED>
<!ELEMENT sliderImages ANY>
<!ATTLIST sliderImages id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="014bc3fd-4686-490d-aad3-858f9948793e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-08T15:59:58" updateDate="2018-12-08T18:07:06" nodeName="Home" urlName="home" path="-1,1070" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <bannerDescription><![CDATA[<p>Another fine freebie by HTML5 UP</p>]]></bannerDescription>
    <bannerButtonText><![CDATA[Start]]></bannerButtonText>
    <bannerTitle><![CDATA[Helios]]></bannerTitle>
    <uploadBanner><![CDATA[umb://media/cf0ccca932044d2e8ded364858db3490]]></uploadBanner>
    <sliderDescription><![CDATA[<h2>Hi. You're looking at <strong>Helios</strong>.</h2>
<p>A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.<br />Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license.</p>]]></sliderDescription>
    <articleDescription><![CDATA[<h2><a href="#">Sed massa imperdiet magnis</a></h2>
<p>Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.</p>
<p>Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia natoque aenean scelerisque.</p>]]></articleDescription>
    <articleImage><![CDATA[umb://media/176a36213e00483eb0965dbeff86d4a6]]></articleImage>
    <sliderImages id="1079" key="0b04d505-417b-4a1f-aa2c-147c7c620194" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2018-12-08T18:09:11" updateDate="2018-12-08T18:09:54" nodeName="Slider1" urlName="slider1" path="-1,1070,1079" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="sliderImages" isPublished="true">
      <description><![CDATA[<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>]]></description>
      <title><![CDATA[Pulvinar sagittis congue]]></title>
      <image><![CDATA[umb://media/cc8a53d5334a4de281415676ea40248d]]></image>
    </sliderImages>
  </home>
  <newsListing id="1087" key="f6dd443c-fc8d-4b8d-9a0b-36831cbab991" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-12-08T18:55:00" updateDate="2018-12-08T20:36:31" nodeName="News Listing" urlName="news-listing" path="-1,1087" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="newsListing" isPublished="true">
    <bannerTitle><![CDATA[Helios]]></bannerTitle>
    <contentDescription><![CDATA[<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>]]></contentDescription>
    <contentTitle><![CDATA[Morbi ullamcorper et varius leo lacus]]></contentTitle>
    <uploadBanner><![CDATA[umb://media/cf0ccca932044d2e8ded364858db3490]]></uploadBanner>
    <news id="1099" key="f9629ddf-b341-4f07-875e-3aea5879f56a" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2018-12-08T20:33:42" updateDate="2018-12-08T20:33:42" nodeName="Test news1" urlName="test-news1" path="-1,1087,1099" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/92981f596bf94c778f5ec75843d19d10]]></newsImage>
      <newsTitle><![CDATA[Gravida aliquam penatibus]]></newsTitle>
    </news>
    <news id="1101" key="53ef59a0-b7b3-481e-9968-beb1a9320f35" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2018-12-08T20:36:03" updateDate="2018-12-08T20:36:03" nodeName="Test News2" urlName="test-news2" path="-1,1087,1101" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/6494415abf5f44858c55bd7d41c95366]]></newsImage>
      <newsTitle><![CDATA[Sed quis rhoncus placerat]]></newsTitle>
    </news>
    <news id="1102" key="236af23f-ba99-4d5e-85a7-01162dc30773" parentID="1087" level="2" creatorID="0" sortOrder="2" createDate="2018-12-08T20:37:37" updateDate="2018-12-08T20:37:37" nodeName="Test News3" urlName="test-news3" path="-1,1087,1102" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/92981f596bf94c778f5ec75843d19d10]]></newsImage>
      <newsTitle><![CDATA[Magna laoreet et aliquam]]></newsTitle>
    </news>
    <news id="1103" key="8ff0c824-3240-4ebd-8ac6-d79f48216ad6" parentID="1087" level="2" creatorID="0" sortOrder="3" createDate="2018-12-08T20:38:10" updateDate="2018-12-08T20:38:10" nodeName="Test News4" urlName="test-news4" path="-1,1087,1103" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/6494415abf5f44858c55bd7d41c95366]]></newsImage>
      <newsTitle><![CDATA[Sed quis rhoncus placerat]]></newsTitle>
    </news>
    <news id="1104" key="d28f86c0-7c6f-4702-974d-73afd173b3d1" parentID="1087" level="2" creatorID="0" sortOrder="4" createDate="2018-12-08T20:38:57" updateDate="2018-12-08T20:38:57" nodeName="Test News5" urlName="test-news5" path="-1,1087,1104" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/92981f596bf94c778f5ec75843d19d10]]></newsImage>
      <newsTitle><![CDATA[Gravida aliquam penatibus]]></newsTitle>
    </news>
    <news id="1105" key="7dd69837-8dc2-4561-96dc-2666bd3fce75" parentID="1087" level="2" creatorID="0" sortOrder="5" createDate="2018-12-08T20:39:32" updateDate="2018-12-08T20:39:32" nodeName="Test News6" urlName="test-news6" path="-1,1087,1105" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/92981f596bf94c778f5ec75843d19d10]]></newsImage>
      <newsTitle><![CDATA[Gravida aliquam penatibus]]></newsTitle>
    </news>
    <news id="1106" key="4826c6d5-2293-41eb-aaa0-5636e28373a8" parentID="1087" level="2" creatorID="0" sortOrder="6" createDate="2018-12-08T20:39:59" updateDate="2018-12-08T20:39:59" nodeName="Test News7" urlName="test-news7" path="-1,1087,1106" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="news" isPublished="true">
      <isFeatured>0</isFeatured>
      <newsDescription><![CDATA[<p>Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.</p>]]></newsDescription>
      <newsImage><![CDATA[umb://media/6494415abf5f44858c55bd7d41c95366]]></newsImage>
      <newsTitle><![CDATA[Magna laoreet et aliquam]]></newsTitle>
    </news>
  </newsListing>
</root>