@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="header" style="background-image:url(@CurrentPage.uploadBanner.Url)">
    <!-- Inner -->
    <div class="inner">
        <header>
            <h1><a href="index.html" id="logo">@Umbraco.Field("bannerTitle", recursive: true)</a></h1>
            @if (CurrentPage.bannerButtonText != null && CurrentPage.bannerButtonText != "")
            {
                <hr />
            }
            <p>@Umbraco.Field("bannerDescription", recursive: true)</p>
        </header>
        @if (CurrentPage.bannerButtonText != null && CurrentPage.bannerButtonText != "")
        {
            <footer>
                <a href="#banner" class="button circled scrolly">@Umbraco.Field("bannerButtonText", recursive: true)</a>
            </footer>
        }
    </div>

    @{ Html.RenderPartial("umbMenu"); }

</div>
