@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- Nav -->
@{
@* Get the root of the website *@
    var root = Umbraco.TypedContentAtRoot();
}
<nav id="nav">
    <ul>
        @foreach (var page in root)
        {
            <li>
                <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
</nav>
